/*-----------------------*\
	HEADER - LAYOUT
\*-----------------------*/
.layout-cabecalho {
	height: 60px;
	border-bottom: 1px solid #ccc;
}

.layout-cabecalho img {
	margin-top: 12px;
}

.layout-planos {
	padding: 80px 0;
}

/*-----------------------*\
	CHAMADA - LAYOUT
\*-----------------------*/

.layout-chamada {
	padding: 80px 0;

	background-color: #7ab55c;
}

/*-----------------------*\
	DEPOIMENTO - LAYOUT
\*-----------------------*/

.layout-depoimento {
	padding: 80px 0;

	background-color: #dadada;
}

/*-----------------------*\
	RODAPÉ - LAYOUT
\*-----------------------*/

.layout-rodape {
	padding: 40px 0;

	background-color: #484848;
	text-align: center;
	color:#fff;
}